<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <!--<button (click)="add()" nz-button nzType="primary" acl="sys:dict:add">新建字典</button>-->
  </ng-template>
</page-header>
<nz-card>
  <nz-tabset style="max-height: 700px" nzTabPosition="left" nzType="card">
    <nz-tab *ngFor="let item of data" [nzTitle]="item">
      <ng-template nz-tab>
        <app-system-enum-data [key]="item"></app-system-enum-data>
      </ng-template>
    </nz-tab>
  </nz-tabset>
  <nz-empty nzNotFoundImage="simple" *ngIf="data?.length === 0" ></nz-empty>
</nz-card>
