/*
  本地iconfont
*/
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_2463422_l3fugtofj4.eot?t=1617426234926'); /* IE9 */
  src:
    url('//at.alicdn.com/t/font_2463422_l3fugtofj4.eot?t=1617426234926#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
      url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALYAAsAAAAABpQAAAKLAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBIIExATYCJAMICwYABCAFhG0HLhvVBREVjFmyHwnGjeMPlHM7Yl5GldBE+iZ4/l17uy/J/KaZMvEiCksSUIMw27pdTxaQdc/KaYAAArKrU3dYCDJAfbB0j1+e4yS9rlzviY/hITQAr/j+55jp0gsk//O9OWYW7Q1wPJANKKIvkuwO5NBvGLvgBZ6HAI4sFWRgPbGAxWBPE0COVgd2YQtODIZFLEKoYa1BLuFh1Wl1H7gY/b78oy4LCk9j58zsH9xLz89pJ0afDE7aGiBwgYA2e4AGKoABWWgMTqERRtS4oCEPx8oU+DkdBIEaOaoCYf86Oz0CgAzIfCaWx35UegWAge5QB0YmfRToqJiEA075r7o3bqTL5etlN7dEPH++oF68WIx89WpZv3y5cvK53de5M+tp+spGsX/2BXg6m/+nkqkR7vYPRkvU0OLeE/t1VHZpGfvJqN49KgWckdF7xvSuvVfrC5YH+7fnNx1LWNen9LWaY03b8wb7a6bX0wNAcEff1r/xbzhVWJO2I7pj0/oGgPcXUtqiCcEdgwawJzMJ/DTWwCZjcGyVMhqr0aSoG80kFQ4HBNjWOB+hNPEO9YItsBgowsgEjaUAabAV4KH1NUCI1Q1Ouc1mXzw2JwsHytwBiBgPUKLcAi3GE2mwL/Ak+UNITHNwlorf01dUpfoZtaADc4PKUu9djag4c4vh1GrOcyLSEXmsPJAnWTmywR55iQXjORQiHjxTB2twGbYtwcBUo5Ukigxlmvqmb0osdROlH0OaQA4wbkDFIj0ftBeq8vNbKDhpadzRUGc8QmxU9Q5yiWwAciPsBzU8ymtGZ0FBCA94jHTAGoxCrRYBQ/OoGrJEIk7wD0qp08oPFSbbi7u/2wE4tkzlFGrMsaPJBAA=')
      format('woff2'),
    url('//at.alicdn.com/t/font_2463422_l3fugtofj4.woff?t=1617426234926') format('woff'),
    url('//at.alicdn.com/t/font_2463422_l3fugtofj4.ttf?t=1617426234926') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */ url('//at.alicdn.com/t/font_2463422_l3fugtofj4.svg?t=1617426234926#iconfont')
      format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-demo:before {
  content: '\e64f';
}
