<nz-input-group [nzSuffix]="suffixIcon">
  <input type="text" nz-input placeholder="Search" [(ngModel)]="searchValue" />
</nz-input-group>
<ng-template #suffixIcon>
  <i nz-icon nzType="search"></i>
</ng-template>
<nz-tree
  style="height: 100%;overflow-y: scroll;"
  #nzTreeComponent
  nzShowIcon
  [nzData]="departments"
  [nzSearchValue]="searchValue"
  (nzClick)="onClick($event)"
></nz-tree>

<!--[nzTreeTemplate]="nzTreeTemplate"-->
<!--      nzCheckable-->
<!--      [nzCheckedKeys]="defaultCheckedKeys"-->
<!--      [nzExpandedKeys]="defaultExpandedKeys"-->
<!--      [nzSelectedKeys]="defaultSelectedKeys"-->
<!--      (nzClick)="nzClick($event)"-->
<!--      (nzContextMenu)="nzClick($event)"-->
<!--      (nzCheckBoxChange)="nzCheck($event)"-->
<!--      (nzExpandChange)="nzCheck($event)"-->



